body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(180deg, #f6efd9, #f1e1c6, #e7c9ab);
    color: #333;
    position: relative;
}
.container {
    background: #fff8f0;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    animation: fadeIn 1.5s ease-out none;
}
.register-form h2 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}
.register-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 500;
}
.register-form input {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.register-form button {
    width: 100%;
    padding: 10px 0;
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.register-form button:hover {
    background-color: #44cc49;
    font-size: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d1a9a9;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    color: #666;
}
footer a {
    color: #6a5acd;
    text-decoration: none;
    margin: 0 8px;
}
footer a:hover {
    color: #281e6e;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
#login{
    background-color: #6a5acd;
    color: white;
}
#login:hover{
    background-color: #8c7bfa;
    color: #dafff3;
    font-size: 20px;
}
.register-form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 300px; 
    margin: 0 auto;
}
.remember-me {
    display: flex;
    gap: 7px;
    text-align: right;
    font-size: 15;
}
.remember-me label {
    white-space: nowrap;
}
#rememberMe{
    width: 15px;
    height: 15px;
    margin: 5px;
}
@keyframes wrong{
  0%{
 transform: scale(1);
 transform: translateX(0);
    }
25%{
    transform: translateX(-10px);
}
  50%{
transform: scale(1.01);
background-color: red;
  }

  75%{
    transform: translateX(10px);
  }
  100%{
transform: scale(1);
transform: translateX(0);
  }
}
.wrongAnswer{
    animation: wrong 1s ease-out;
}